.ddl-rating {
  display: flex;
  flex-direction: row;
  justify-content: left;
  order: 1;
}

.ddl-rating_stars {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
  margin-right: 16px;
}
@media (min-width: 1008px) {
  .ddl-rating {
    align-self: end;
    order: 0;
    flex-direction: column;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
  }
  .ddl-rating_stars {
    margin: 0 0 12px 0;
  }
}