.ddl-hero_img {
  background-size: cover;
  background-position: center;
  padding-bottom: 87.5%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.ddl-hero {
  padding: 32px 12px;
  background-color: #fff;
  max-width: 1200px;
  margin: 200px 12px 36px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

@media (min-width: 756px) {
  .ddl-hero_img {
    padding-bottom: 31.7%;
  }
  .ddl-hero {
    flex-direction: row;
  }
}
