.ingredients {
  display: block;
}

@media (min-width: 756px) {
  .ingredients,
  .utensils {
    display: inline-block;
  }
  .ingredients {
    margin-right: 32px;
  }
}

.ddl-fltr {
  padding: .75rem;
  background: #f6f6f6
}

.ddl-tgglr .ddl-btn-input:focus .ddl-rndl__icon,
.ddl-tgglr:hover .ddl-rndl__icon {
  box-shadow: 0 0 0 4px rgba(0, 83, 159, .4);
  transition: box-shadow .3s ease-in-out
}

.ddl-tgglr .ddl-btn-input:focus .ddl-lbl:after,
.ddl-tgglr:hover .ddl-lbl:after {
  border-bottom-color: #00539f;
  transition: border-bottom-color .3s ease-in-out
}

.input_group {
  border: none;
  padding: 0 0 12px
}

.input_group .legend {
  font-family: regularfont, Arial, Helvetica, sans-serif
}

.input_group .form_field {
  position: relative
}

.form_field {
  width: 100%;
  margin-top: 1.7rem;
  max-width: 480px;
  position: relative
}

.form_field input {
  display: block
}

.form_field .checkbox,
.form_field .radio_button {
  position: absolute;
  top: 3px;
  left: 0
}

.form_field:hover {
  cursor: pointer
}

.form_field:focus .icon,
.form_field:hover .icon {
  box-shadow: 0 0 0 4px rgba(0, 141, 200, .6);
  border-color: #00539f;
  transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out
}

.label {
  display: inline-block;
  font-family: regularfont, Arial, Helvetica, sans-serif;
  padding: .5rem 0;
  margin-left: 42px;
  cursor: pointer
}

.checkbox {
  position: relative;
  display: inline-block;
  padding-left: 36px
}

.checkbox input {
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999;
  cursor: pointer
}

.checkbox input:checked+.icon {
  background: #008dc8;
}

.checkbox input:checked+.icon svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.checkbox input:focus+.icon,
.checkbox input:hover+.icon {
  box-shadow: 0 0 0 4px rgba(0, 141, 200, .6);
  border-color: #00539f;
  transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out
}

.checkbox .icon {
  display: block;
  background: #fff;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.625rem;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
  box-shadow: 0 0 0 transparent;
  text-align: center;
  transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out
}

.checkbox .icon svg {
  display: none;
  vertical-align: middle
}

.ddl-wrapper .input-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(244px, 1fr));
  overflow: hidden;
}

@media (min-width:1008px) {
  .ddl-wrapper .input-grid {
      max-width: 50%;
      grid-template-columns: repeat(2, minmax(244px, 1fr));
  }
}

.label{
  display:inline-block;
  font-family:regularfont,Arial,Helvetica,sans-serif;
  padding:.5rem 0;
  margin-left:42px;
  cursor:pointer
}
