.mb-8 {
  margin-bottom: 8px;
}
.mb-13 {
  margin-bottom: 13px;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}

.mr-20 {
  margin-right: 20px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.mw-75 {
  max-width: 75%;
}