body {
  background-color: #f6f6f6;
  font-family: 16px;
}
.ddl-wrapper {
  position: relative;
}
* {box-sizing: border-box;}

.ddl-cnt {
  display: grid;
  grid-template-rows: 3;
  grid-gap: 24px;
}

.ddl-card {
  padding: 32px 12px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 8px;
  width: 100%;
}

.ddl-grid {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  align-items: left;
  grid-gap: 32px;
}

@media (min-width: 756px) {
  .ddl-card {
    margin: 0 auto;
  }
  .ddl-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.invisible {
  transform: translateY(50px);
  opacity: 0;
}
.ddl-card.visible {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 3s ease, opacity 1s ease;
}
